language: node_js
node_js:
- 10
- 8
- 6
after_success:
- npm i -g nyc coveralls
- nyc npm test && nyc report --reporter=text-lcov | coveralls
addons:
  hosts:
    - dat.localhost
    - whoop-whoop-test.dat.localhost
    - garbados.hashbase.io.localhost
    - garbados.hashbase.io.dat.localhost
    - ym54rv6dfjxjawif57n7ehx6vh7shmandq7otlviacjovotmjflq.localhost
    - ym54rv6dfjxjawif57n7ehx6vh7shmandq7otlviacjovotmjflq.dat.localhost
